<meta charset="UTF-8">
<title>Tender || home</title>
<link rel="stylesheet" href="/style.css">

<div class="topbar">
    <h1>Tendr<br>
        <small>Find yourself in one</small>
    </h1>
</div>

{{{body}}}

