
{{!--
    * IF THIS IS NOT FUNNY FOR YOU. I UNDERSTAND. IT WAS WRITTEN AT 23:00PM. LOL
    * HEY, YOU MADE IT HERE! (00,)
    * THE CODE BELOW IS THE TOP-BAR AND (MAYBE) FOOTER. THIS IS THE STUFF THAT WILL NOT CHANGE.
    * THEY WILL STAY STAY THE SAME ON ALL PAGES.
    * AGAIN. PLEASE FEEL FREE TO REMOVE ALL THIS AND START AFRESSH

    NOTICE THAT I DIDN'T PUT THE DOCTYPE, HTML, HEAD AND BODY TAGS. I DID THIS JUST TO DEMONSTRATE THAT WHEN USING
    TEMPLATES YOU DO NOT HAVE TO PUT THEM THERE. BUT IF IT IS CONFUSING FOR YOU. PLEASE FEEL FREE TO DO IT THE WAY
    YOU ARE COMFORTABLE WITH BUT MAKE SURE THAT YOU HAVE {{{BODY}}} INSIDE THE BODY TAG.

    {{{BODY}}} IS THE CONTENT THAT WILL BE DYNAMICALLY INSERTED WHEN YOU GO TO DIFFERENT ROUTES E.G /search WILL HAVE
    THE CONTENT IN THE search.handlebars FILE.

    IF THERE IS ANYTHING YOU WANT NOT TO APPEAR ON ALL PAGES. PLEASE DO NOT INCLUDE IT IN THIS FILE.

    PLEASE ASK ME ANYTHING YOU ARE NOT CLEAR WITH. - Luvuyo
 --}}
<meta charset="UTF-8">
<title>Tender - Home Page</title>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<div class="topbar">

    <h1><a href="/">Tendr<br><hr>
        <small>never miss an opportunity!</small></a></h1>

</div>

{{{body}}}

<footer>
  <li><a href="" class="animated fadeIn" target="_blank">Open</a></li>
  <li><a href="" class="animated fadeIn" target="_blank">Closed</a></li>
  <li><a href="/about" target="_blank">About</a></li>
</footer>
