<style>
  h2 {
    font-weight: bold;
    font-size: 46px;
    text-align: left;
    text-indent: 2rem;
  }
  .team img:hover {
    transform: scale(1.2);
    transition: transform 2s ease-in-out;

  }
</style>
<h2>Fox Force Five</h2>
<div class="team">
  <img src="https://image.ibb.co/jWvc5T/lihle_Resized.png" alt="lihle">
  <img src="https://image.ibb.co/jmwZkT/Cobus_Resized.png" alt="cobus">
  <img src="https://image.ibb.co/dLFkQT/banele_clipped_rev_1.png" alt="banele">
  <img src="https://image.ibb.co/gvdEkT/luvuyo_Resized.png" alt="luvuyo">
  <img src="https://image.ibb.co/jHFieo/candice_Resized.png" alt="candice">
</div>
