<head>
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
</head>
<style>
  h2 {
    font-weight: bold;
    font-size: 46px;
    text-align: left;
    text-indent: 2rem;
  }
  table td {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 20px;
  }
</style>
<h2>Fox Force Five</h2>
<table>
  <tr class="animate zoomIn">
    <td><img src="https://image.ibb.co/c93P4o/banele.png" alt="banele"></td>
    <td><img src="https://image.ibb.co/n9kMjo/lihle.png" alt="lihle"></td>
    <td><img src="https://image.ibb.co/c1Mu4o/cobus.png" alt="cobus"></td>
    <td><img src="https://image.ibb.co/nMZsqT/candice.png" alt="candice"></td>
    <td><img src="https://image.ibb.co/cyxCqT/luvuyo.png" alt="luvuyo"></td>
  </tr>
  <tr class="animate zoomIn">
    <td>Banele</td>
    <td>Lihle</td>
    <td>Cobus</td>
    <td>Candice</td>
    <td>Luvuyo</td>
  </tr>
</table>
<p>As a team, we are incredibly proud of this project and immensely thankful to all who support us on our journey.</p>
