<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <title>Search</title>
    <link rel="stylesheet" href="/filter.css">

  </head>
  <body>
    <div class="filter">

      <h3 class="animated flip">Find your TENDR mate!</h3><input placeholder="search"type="text" name="" value="">
      <select><option>by industry</option></select>
      <select><option>by date</option></select>
      <select><option>by value</option></select>
      <select><option>by company</option></select>
  </div>
  </body>
</html>
