<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search</title>
    <link rel="stylesheet" href="/filter.css">

  </head>
  <body>
    <div class="filter">

      <h3>Find your opportunity:</h3><input type="text" name="" value="">
      <select><option>by industry</option></select>
      <select><option>by date</option></select>
      <select><option>by value</option></select>
      <select><option>by company</option></select>
  </div>
  </body>
</html>
