<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <title>Search</title>
  <link rel="stylesheet" href="/filter.css">

</head>

<body>
  <div class="filter">
    <h3>Find your TENDR mate!</h3>
    <form action="search" method="post">
      <input placeholder="search" type="text" name="searchInput">
      <input type="submit">
    <select class="animated fadeInLeft" name="industryFilter">
      <option value="">by industry</option>
      {{#each industries}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <select class="animated fadeInRight" name="dateFilter">
      <option value="">by date</option>
     {{#each dates}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <select class="animated fadeInLeft" name="valueFilter">
      <option>by value</option>
     
    </select>
    <select class="animated fadeInRight" name="vendorFilter">
      <option>by company</option>
      
    </select>
    </form>
  </div>
</body>

</html>