{{!--
    * PLEASE FEEL FREE TO JUST DELETE EVERYTHING ON THIS FILE AND START AFRESH
    * PLEASE DO NOT PUT A HEAD TAG AND TOP-BAR ON THIS PAGE
    * ON YOUR LEFT IN THE DIRECTORY PANEL, THERE IS A LAYOUTS FOLDER AND INSIDE THERE IS A MAIN FILE.
      OPEN AND SEE WHAT IS ON THERE.
    * HOPE THIS ISN'T CONFUSING YOU TOO MUCH.
 --}}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/home.css">
    <title></title>
  </head>
  <body>

    <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <title>Search</title>
    <link rel="stylesheet" href="/filter.css">

  </head>
  <body>
    <!-- funtion to clear data
    function clearData2() {
    select.innerHTML = "";
    }
    event listener to clear button
    eReset.addEventListener('click', clearData2); -->

    <div class="filter">

      <h3>Find your TENDR mate!</h3><input placeholder="search" type="text" name="" value=""><button type="button" name="button">Find It</button><button type="button" id="eReset" name="button">Reset</button>

      <select class="animated fadeInLeft"><option>by industry</option></select>
      <select class="animated fadeInRight"><option>by date</option></select>
      <select class="animated fadeInLeft"><option>by value</option></select>
      <select class="animated fadeInRight"><option>by company</option></select>
  </div>

  </body>
</html><!-- <h1 class="about">About our App</h1>
    <p>This is our application to give small to medium business owners up to date Tender summary informtation of open and recently closed tenders, which the City of Cape Town publishes on their Opendata website.</p>

    <p> Please select whether you are looking for current 'open tenders' or recently 'closed tenders' which your company might be able to support:</p> -->

  </body>
</html>
