{{!--
    * PLEASE FEEL FREE TO JUST DELETE EVERYTHING ON THIS FILE AND START AFRESH
    * PLEASE DO NOT PUT A HEAD TAG AND TOP-BAR ON THIS PAGE
    * ON YOUR LEFT IN THE DIRECTORY PANEL, THERE IS A LAYOUTS FOLDER AND INSIDE THERE IS A MAIN FILE.
      OPEN AND SEE WHAT IS ON THERE.
    * HOPE THIS ISN'T CONFUSING YOU TOO MUCH.
 --}}

    <link rel="stylesheet" href="/home.css">
    <title>Home</title>
 
    <h1>About our App</h1>

    <p>This is our application to give small to medium business owners up to date Tender summary informtation of open and recently closed tenders, which the City of Cape Town publishes on their Opendata website.</p>

    <p> Please select wether you are looking for current open tenders or recently closed tenders which your company might be able to support:</p>
    {{#each deptTotal}}
    <h2>{{@key}}</h2>
    <p>{{roundedValue}}</p>
    {{/each}}
