{{!-- 
    BROKEN RECORD....PLEASE PRESS CTRL + A. PRESS BACK-SPACE AND START TYPING.

    { BANELE }
    WE ARE STILL WORKING ON THE LOGIC TO MAKE THIS WORK BUT WHEN WE MEET IN THE MORNING 
    WE WILL CREATE AN OBJECT WITH FAKE DATA SO THAT YOU HAVE CONTENT TO STYLE/WORK ON, ON THIS PAGE. (00,)

 --}}

<style>
    li {
        text-align: left;
        padding: 0.6rem 2rem;
    }
</style>

<h2>Search Page</h2>

<ol>
    <li>Please delete all this and put the proper HTML code to make this page work as expected</li>
    <li>The CSS files can be found on the <em>public/</em> folder in the project directory.</li>
    <li>We are workin on the other routes.</li>
</ol>
