<style>
.tenderView {
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 6px;
  border-style: groove;
  padding-left: 1rem;
  text-shadow: 1px 1px 2px black, 0 0 5px darkblue;
}

</style>
<h2>You Are Viewing:</h2>
<div class="tenderView">
  <!-- all data below are simply placeholders to show rendering. Please insert all where and as relevant -->
  <p>Tender Number: {tender.no}</p>
  <p>Reference: {tender.reference}</p>
  <p>{tender.description}</p>
  <p>Vendor: {tender.vendor}</p>
  <p>Awarded Date: {tender.awardedDate}</p>
  <p>Value: {tender.value}</p>
  <p>Reason: {tender.reason}</p>
  <p>Department: {tender.department}</p>
</div>
